<div class="flex h-screen">
  <div
    class="w-72 bg-gradient-to-b from-neutral-300 to-blue-100 text-black flex flex-col p-5 space-y-6 shadow-lg rounded-lg">
    <div class="text-center text-lg font-semibold text-gray-700">
      <i class="fas fa-user-circle text-2xl"></i>
      <p>{{ username }} </p>
    </div>
    <h2 class="text-3xl font-bold text-center tracking-wide">📌 Todo App</h2>

    <nav class="flex flex-col space-y-4">
      <a class="flex items-center gap-3 px-4 py-3  rounded-lg hover:bg-blue-400 transition "
         routerLink="/home">
        <i class="fas fa-home"></i> <span>Home</span>
      </a>
      <a class="flex items-center gap-3 px-4 py-3  rounded-lg hover:bg-blue-400 transition"
         routerLink="/profile">
        <i class="fas fa-user"></i> <span>Profile</span>
      </a>
      <a class="flex items-center gap-3 px-4 py-3  rounded-lg hover:bg-blue-400 transition"
         routerLink="/settings">
        <i class="fas fa-cog"></i> <span>Settings</span>
      </a>
    </nav>

    <button
      class="mt-auto  flex items-center justify-center gap-3 py-3 px-4 rounded-lg hover:bg-red-400 transition">
      <i class="fas fa-sign-out-alt"></i> <span>Logout</span>
    </button>
  </div>

  <div class="pt-24 h-screen rounded-lg w-screen">
    <h2 class="text-3xl font-semibold text-center mb-6">Profile</h2>

    <div class="flex flex-col items-center space-y-4">
      <img alt="Profile Picture" class="w-32 h-32 rounded-full shadow-md" src="assets/profile-placeholder.png">

      <div>
        <label class="font-semibold">Name:</label>
        <p class="text-gray-700">{{ username }}</p>
      </div>

      <div>
        <label class="font-semibold">Email:</label>
        <p class="text-gray-700">{{ useremail }}</p>
      </div>

      <div>
        <ng-container *ngIf="!isEditing">
          <button (click)="editProfile()"
                  class="bg-blue-500 text-white mr-2 px-6 py-2 rounded hover:bg-blue-600 transition">
            Edit Profile
          </button>
        </ng-container>
        <ng-container *ngIf="isEditing">
          <button (click)="cancelEditProfile()"
                  class="bg-gray-500 text-white px-6 py-2 rounded hover:bg-gray-600 transition">Cancel
          </button>
        </ng-container>
      </div>

    </div>
  </div>
</div>
