.login-illustration {
  width: 30vw;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
}
h2, p, label, input, button{
  font-family: 'DM Sans', sans-serif;
}

.noAccount{
  font-size: 0.8rem;
}
