<header class="task-list-header">
  <h1>Today's Todo List</h1>
</header>

<main class="todo-container">
  <!-- Task Input -->
  <div class="add-task">
    <input [(ngModel)]="newTask" placeholder="Enter new task here"/>
    <button (click)="addTask()">
      {{ editingTaskId === null ? 'Add' : 'Update' }}
    </button>
  </div>

  <!-- Task List -->
  <div class="task-list-container">
    <ul class="task-list">
      <li *ngFor="let todoItem of todoList; let i = index"
          [ngClass]="{'completed': todoItem.completed}">
        <div class="task-grid">
          <!-- Checkbox -->
          <input [checked]="todoItem.completed" type="checkbox"/>

          <!-- Task Text -->
          <span [class.completed]="todoItem.completed">{{ todoItem.task }}</span>

          <!-- Timestamp (if needed) -->
          <!-- <small class="task-timestamp">{{ todoItem.timestamp }}</small> -->

          <!-- Action Buttons -->
          <div class="task-actions">
            <!--            <button (click)="editTask(todoItem)" class="edit-btn">Edit</button>-->
            <!--            <button (click)="deleteTask(todoItem.id)" class="delete-btn">Delete</button>-->
          </div>
        </div>
      </li>
    </ul>
  </div>
</main>

<router-outlet></router-outlet>
