<header class="task-list-header">
  <span>Today's Todo List</span>
</header>
<main class="todo-container">
  <div class="add-task">
    <input [(ngModel)]="newTask" placeholder="Enter new task here"/>
    <button (click)="addTask()">{{ editingTaskId === null ? 'Add' : 'Update' }}</button>
  </div>
  <div class="task-list-container">
    <ul class="task-list">
      <li *ngFor="let todoItem of todoList; let i = index; trackBy: trackById"
          [ngClass]="{'completed': todoItem.completed}">
        <div class="task-grid">
          <input
            (click)="toggleCompleted(i)"
            [(ngModel)]="todoItem.completed"
            type="checkbox"
          />
          <span [class.completed]="todoItem.completed">{{ todoItem.task }}</span>
          <div class="task-actions">
            <button (click)="editTask(todoItem)" class="edit-btn">Edit</button>
            <button (click)="deleteTask(todoItem.id)" class="delete-btn">Delete</button>
          </div>
        </div>
      </li>
    </ul>
  </div>

</main>


<router-outlet/>
