<header class="task-list-header">
  <h1>Today's Todo List</h1>
</header>

<p-toast></p-toast>

<main class="todo-container">
  <!-- Task Input -->
  <div class="add-task">
    <input [(ngModel)]="newTask" pInputText placeholder="Enter new task here"/>
    <button (click)="addTask()" class="p-button-success" icon="pi pi-plus" label="Add" pButton></button>
  </div>

  <!-- Task List -->
  <p-table [value]="todoList">
    <ng-template pTemplate="header">
      <tr>
        <th>Task</th>
        <th>Completed</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template let-todoItem pTemplate="body">
      <tr>
        <td>{{ todoItem.task }}</td>
        <td>
          <p-checkbox (onChange)="toogleCompletion(todoItem)" [(ngModel)]="todoItem.completed"
                      [binary]="true"></p-checkbox>
        </td>
        <td>
          <p-button (click)="startEditing(todoItem)" label="Edit" severity="info"/>
          <p-button (click)="deleteTask(todoItem)" label="Delete" severity="danger"/>
        </td>
      </tr>
    </ng-template>
  </p-table>
</main>
