<div class="flex min-h-screen">
    <app-sidebar class="h-full"></app-sidebar>
    <p-confirmPopup></p-confirmPopup>
    <!-- Main Content -->
  <main class="flex-1 bg-gray-200 text-black p-6 shadow-xl flex flex-col">
      <p-toast/>
    <ng-container *ngIf="todoList.length != 0">
      <div class="flex flex-col md:flex-row md:items-center justify-between gap-4 mb-8 w-full p-6 bg-gradient-to-br from-white to-[E5EEF8] rounded-xl shadow-lg border border-gray-300">
        <p-floatlabel variant="on">
          <input id="searchInput"
                 type="text"
                 pInputText [(ngModel)]="searchQuery"
                 class="w-xl"
                 style="border-radius: 20px;"/>
          <label for="searchInput">Search Tasks</label>
        </p-floatlabel>
        <div class="flex items-center gap-2">
          <label class="text-sm font-medium text-gray-700">Sort by:</label>
          <p-dropdown class="w-48"
                      id="filterSelect"
                      [style]="{borderRadius: '20px'}"
                      [options]="filterOptions"
                      placeholder="Default"
                      [styleClass]="'h-10 w-40'"
                      [(ngModel)]="selectedFilter"
                      (onChange)="onFilterChange($event)">
          </p-dropdown>
        </div>
        <button (click)="openNewTaskModal()"
                class="bg-green-600 hover:bg-green-700 text-white px-6 py-2 rounded-md shadow-sm transition-all duration-200 flex items-center gap-2"
                pRipple>
          <i></i> Add Task
        </button>
      </div>
    </ng-container>
    <!--          <ng-container *ngIf="filteredTodoList.length == 0">-->
    <!--            <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8]">-->
    <!--              <div-->
    <!--                class="bg-white p-4 rounded shadow border border-gray-300 flex flex-col justify-between max-h-[260px] min-h-[260px] transition">-->
    <!--                <p-skeleton width="100%" height="150px"/>-->
    <!--                <div class="flex justify-between">-->
    <!--                  <p-skeleton width="4rem" height="2rem" class="pr-2"/>-->
    <!--                  <p-skeleton width="4rem" height="2rem" class="pr-2"/>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </ng-container>-->
    <!--          </ng-container>-->


      <div class="flex flex-col gap-6 mb-6 px-4 sm:px-6">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 w-full">
            <ng-container *ngIf="todoList.length == 0">
              <div class="col-span-4 text-center text-gray-500 max-w-xl mx-auto">
                <img alt="Login illustration" src="assets/illustrations/dashboard/empty-todos.svg" class="no-todos"/>
                <p>How about adding your To-dos today.</p>
              <label (click)="openNewTaskModal()"
                        class="mt-3 max-w-[8vw] bg-[#6176E5] hover:bg-[#1E2938] text-white px-6 py-1 rounded-md shadow-sm transition-all duration-200 flex items-center gap-2 justify-center mx-auto"
                        pRipple>
                   Add Task
                </label>
              </div>
            </ng-container>
         <ng-container *ngIf="todoList.length > 0 && filteredTodoList.length === 0">
           <div class="col-span-4 text-center text-gray-500 max-w-xl mx-auto">
             <img alt="No search result" src="assets/illustrations/dashboard/empty-search-todo.svg" class="no-search-result-svg"/>
             <p>No matching tasks found.</p>
           </div>
         </ng-container>
         <ng-container *ngFor="let todoItem of filteredTodoList" >

            <div
              class="bg-white p-4 rounded shadow border border-gray-300 flex flex-col justify-between min-h-[230px] transition"
              [ngClass]="{'opacity-40': todoItem.completed, 'hover:bg-gray-100': !todoItem.completed}">
              <div class="mb-3 font-semibold text-lg bg-green-300 rounded p-2">
                <span [pTooltip]="todoItem.task" tooltipPosition = "bottom">
                   {{ todoItem.task | truncate: 28 }}
                </span>
              </div>
              <div class="flex items-center gap-2 mb-4">
                <p class="text-sm text-gray-600">Start Date: {{ todoItem.startDate | date }}</p>
                <p class="text-sm text-gray-600">End Date: {{ todoItem.endDate | date }}</p>
              </div>
              <div class="flex items-center gap-2 mb-4">
                <label class="text-sm">Completed:</label>
                <input type="checkbox" (ngModelChange)="toggleCompletions(todoItem)" [(ngModel)]="todoItem.completed"
                       class="h-4 w-4 cursor-pointer"/>
              </div>
              <div class="mt-auto flex justify-end gap-2">
                <p-button icon="pi pi-eye"
                          [rounded]="true"
                          severity="info"
                          class="cursor-pointer"
                          label="view"
                          (click)="openViewTaskModal(todoItem)">
                </p-button>
                <i (click)="softdeleteTask($event, todoItem)" class="cursor-pointer pi pi-trash" style="font-size: 1.1rem; color: red; margin-left: 5px; margin-top: 15px;" ></i>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
     <div *ngIf="filteredTodoList.length > 7" class="pagination-container mt-auto flex justify-center">
        <p-button (click)="prevPage(); onFilterChange($event)"
                [disabled]="currentPage === 1"
                class="px-5 py-2 text-gray-700 rounded-lg disabled:opacity-50 flex items-center gap-2 preview-page-button">
          <i class="pi pi-chevron-left"></i> Prev
        </p-button>
        <span (click)="goToPage(page)"
              *ngFor="let page of pages"
              [ngClass]="{'text-black': currentPage === page, 'text-gray-700': currentPage !== page}"
              class="cursor-pointer px-5 py-2 rounded-lg">
          {{ page }}
        </span>

        <p-button (click)="nextPage(); onFilterChange($event)"
                [disabled]="currentPage === totalPages"
                class="px-5 py-2text-gray-700 rounded-lg disabled:opacity-50 flex items-center gap-2 next-page-button"
        >
          Next <i class="pi pi-chevron-right"></i>
        </p-button>
      </div>
      <!-- Header -->
      <!--      <header class="bg-gradient-to-r from-indigo-500 to-blue-600 text-white py-6 text-center rounded-xl shadow-md mb-8">-->
      <!--        <h1 class="text-4xl font-extrabold tracking-wide">📋 Dashboard</h1>-->
      <!--      </header>-->

      <!-- Task Input -->
      <!--      <div class="flex gap-4 mb-6">-->
      <!--        <input [(ngModel)]="newTask"-->
      <!--               class="flex-1 p-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 shadow-sm"-->
      <!--               placeholder="What needs to be done?"/>-->
      <!--        <button (click)="addTask(); notify()"-->
      <!--                class="bg-green-500 text-white px-6 py-3 rounded-lg hover:bg-green-600 flex items-center gap-2 transition"-->
      <!--                pRipple>-->
      <!--          <i class="fas fa-plus"></i> <span>Add Task</span>-->
      <!--        </button>-->
      <!--        <button (click)="suggestTask()"-->
      <!--                class="bg-purple-500 text-white px-6 py-3 rounded-lg hover:bg-purple-600 flex items-center gap-2 transition ">-->
      <!--          <i class="fas fa-robot"></i> <span>Suggest Task</span>-->
      <!--        </button>-->
      <!--        <button (click)="fetchAdvice()" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">-->
      <!--          Get Random Advice-->
      <!--        </button>-->
      <!--        <p class="mt-4 text-lg font-medium text-gray-200 transition-opacity duration-700 ease-in-out"-->
      <!--           [class.opacity-0]="!advice"-->
      <!--           [class.opacity-100]="advice">-->
      <!--          <span>{{ advice }}</span>-->
      <!--        </p>-->
      <!--      </div>-->

      <!--      &lt;!&ndash; Task List with Glassmorphism &ndash;&gt;-->
      <!--      <div class="bg-white/50 backdrop-blur-lg p-6 rounded-lg shadow-lg border border-gray-200">-->
      <!--        <table class="w-full border-collapse border border-gray-300 rounded-lg">-->
      <!--          <thead class="bg-gray-200 text-gray-700">-->
      <!--          <tr>-->
      <!--            <th class="border border-gray-300 px-6 py-3">Task</th>-->
      <!--            <th class="border border-gray-300 px-6 py-3">Completed</th>-->
      <!--            <th class="border border-gray-300 px-6 py-3">Actions</th>-->
      <!--          </tr>-->
      <!--          </thead>-->
      <!--          <tbody>-->
      <!--          <tr *ngFor="let todoItem of todoList"-->
      <!--              [ngClass]="{'hover:bg-gray-100': !todoItem.completed, 'bg-green-200 opacity-75': todoItem.completed}"-->
      <!--              class="transition">-->
      <!--            <td class="border border-gray-300 px-6 py-3">-->
      <!--              <input [(ngModel)]="todoItem.task"-->
      <!--                     [readonly]="editingTaskId !== todoItem.id"-->
      <!--                     class="w-full p-2 border border-gray-300 rounded-md bg-transparent focus:ring-1 focus:ring-blue-400"/>-->
      <!--            </td>-->
      <!--            <td class="border border-gray-300 px-6 py-3 text-center">-->
      <!--              <input (ngModelChange)="toggleCompletions(todoItem)"-->
      <!--                     [ngModel]="todoItem.completed"-->
      <!--                     class="h-5 w-5 cursor-pointer"-->
      <!--                     type="checkbox"/>-->
      <!--            </td>-->
      <!--            <td class="border border-gray-300 px-6 py-3 flex gap-3 justify-center">-->
      <!--              <button (click)="startEditingCurrentTask(todoItem)"-->
      <!--                      [disabled]="editingTaskId === todoItem.id || todoItem.completed"-->
      <!--                      class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition flex items-center gap-2 disabled:opacity-50">-->
      <!--                <i class="fas fa-edit"></i> Edit-->
      <!--              </button>-->
      <!--              <button (click)="saveTask(todoItem)"-->
      <!--                      *ngIf="editingTaskId === todoItem.id"-->
      <!--                      class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition flex items-center gap-2">-->
      <!--                <i class="fas fa-save"></i> Update-->
      <!--              </button>-->
      <!--              <button (click)="softdeleteTask(todoItem)"-->
      <!--                      [disabled]="editingTaskId === todoItem.id && todoItem.completed"-->
      <!--                      class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition flex items-center gap-2 disabled:opacity-50">-->
      <!--                <i class="fas fa-trash-alt"></i> Delete-->
      <!--              </button>-->
      <!--            </td>-->
      <!--          </tr>-->
      <!--          </tbody>-->
      <!--        </table>-->
      <!--      </div>-->

      <!--      &lt;!&ndash; Pagination &ndash;&gt;-->
      <!--      <div class="pagination-container flex justify-center space-x-4 pt-2">-->
      <!--        <button (click)="prevPage()"-->
      <!--                [disabled]="currentPage === 1"-->
      <!--                class="px-5 py-2 bg-gray-300 text-gray-700 rounded-lg disabled:opacity-50 flex items-center gap-2">-->
      <!--          <i class="fas fa-chevron-left"></i> Prev-->
      <!--        </button>-->

      <!--        <span (click)="goToPage(page)"-->
      <!--              *ngFor="let page of pages"-->
      <!--              [ngClass]="{'bg-blue-500 text-white': currentPage === page, 'bg-gray-300 text-gray-700': currentPage !== page}"-->
      <!--              class="cursor-pointer px-5 py-2 rounded-lg">-->
      <!--      {{ page }}-->
      <!--    </span>-->

      <!--        <button (click)="nextPage()"-->
      <!--                [disabled]="currentPage === totalPages"-->
      <!--                class="px-5 py-2 bg-gray-300 text-gray-700 rounded-lg disabled:opacity-50 flex items-center gap-2">-->
      <!--          Next <i class="fas fa-chevron-right"></i>-->
      <!--        </button>-->
      <!--      </div>-->
      <p-dialog header="Add your new task" [(visible)]="newTaskModalVisible" [modal]="true"
                [style]="{ marginTop: '-5vh', color: '#101828'}" [closable]="false" class="overflow-visible">
        <div class="p-fluid flex flex-wrap gap-4  bg-gray-100 p-6 rounded-lg shadow-md mb-4">
          <div class="flex">
            <div class="field">
              <p-floatlabel variant="on">
                <input id="newTaskInput" type="text" pInputText [(ngModel)]="newTask" [style]="{width: '15vw'}"/>
                <label for="newTaskInput">Task name</label>
              </p-floatlabel>

            </div>
          </div>

          <p-floatlabel variant="on">
            <p-calendar [(ngModel)]="taskStartDate"
                        id="taskStartDate"
                        dateFormat="yy-mm-dd"
                        [showTime]="false"
                        showIcon="true"
                        class="rounded-md"
                        inputId="buttondisplay"
                        [minDate]="minDate"
                        [style]="{width: '10vw'}"></p-calendar>
            <label for="newTaskInput">Start Date</label>
          </p-floatlabel>


          <p-floatlabel variant="on">
            <p-calendar [(ngModel)]="taskEndDate"
                        id="taskEndDate"
                        dateFormat="yy-mm-dd"
                        [showTime]="false"
                        showIcon="true"
                        [minDate]="minDate"
                        class="rounded-md"
                        [style]="{width: '10vw'}"></p-calendar>
            <label for="taskEndDate">End Date</label>
          </p-floatlabel>


          <p-dropdown class="w-48"
                      id="filterSelect"
                      [style]="{borderRadius: '20px'}"
                      [options]="taskTypeTagOptions"
                      placeholder="Tagged as"
                      styleClass="{height: '2.5rem', width: '10rem'}"
                      [(ngModel)]="selectedTaskTypeTag"
                      (onChange)="onFilterChange($event)"
                      [ngStyle]="{
                     'background-color': selectedTaskTypeTag === 'p-task' ? '#87EDC7' :
                                        selectedTaskTypeTag === 'w-task' ? '#C787ED' : '#e5e7eb'
                                   }"
          >
          </p-dropdown>
          <p-dropdown class="w-48"
                      id="filterSelect"
                      [style]="{borderRadius: '20px'}"
                      [options]="taskPriorityOptions"
                      placeholder="Priority"
                      styleClass="{height: '2.5rem', width: '10rem'}"
                      [(ngModel)]="selectedTaskPriority"
                      (onChange)="onFilterChange($event)"
                      [ngStyle]="{
                     'background-color': selectedTaskPriority === 'low' ? '#f5fed9' :
                                        selectedTaskPriority === 'normal' ? '#53AD52' :
                                        selectedTaskPriority === 'high' ? '#fca5a5' :
                                        selectedTaskPriority === 'urgent' ? '#dc2626' :
                                        '#e5e7eb'}"
          >
          </p-dropdown>


        </div>
        <div class="field">
          <p-floatlabel variant="on">
            <textarea id="newTaskDetailInput" rows="7" pInputTextarea [(ngModel)]="taskDetail" name="taskDetails"
                      class="w-full p-2 border border-gray-300 rounded-md"></textarea>
            <label for="newTaskDetailInput">Task details</label>
          </p-floatlabel>
        </div>
        <div class="flex justify-end gap-3 pt-4 border-t mt-6">
          <!--          <button pButton type="button" label="Cancel" class="p-button-text text-gray-600 hover:text-red-600 transition" (click)="newTaskModalVisible = false"></button>-->
          <p-button (click)="newTaskModalVisible = false" [rounded]="true" severity="danger" label="Cancel"
                    [outlined]="true"></p-button>
          <p-button label="Save Task" severity="success" [style]="{backgroundColor:'#15A900'}" [rounded]="true"
                    (click)="addTask(); newTaskModalVisible = false"></p-button>
        </div>
      </p-dialog>

    <p-dialog header = "Task Details"
              [(visible)]="viewTaskModalVisible"
              [modal]="true"
              [style]="{ width: '40vw'}"
              [closable]="true">
      <div *ngIf="selectedTask">
        <h3 class="text-lg font-bold mb-2">{{ selectedTask.task}}</h3>
       <h3 class="text-lg font-bold mb-2">
         Type:
         {{
           selectedTask.taskTypeId === 1 ? 'Personal' :
           selectedTask.taskTypeId === 2 ? 'Work' : 'Other'
         }}
       </h3>
        <h3 class="text-lg font-bold mb-2">
          Priority:
          {{
            selectedTask.taskTypeId === 1? 'Low' :
            selectedTask.taskTypeId === 2 ? 'Normal' :
            selectedTask.taskTypeId === 3 ? 'High' :
            selectedTask.taskTypeId === 4 ? 'Urgent' : 'None'
          }}</h3>
        <p><strong>Start:</strong> {{selectedTask.startDate | date}}</p>
        <p><strong>End:</strong> {{selectedTask.endDate | date}}</p>
        <p class="mt-4"><strong>Details:</strong></p>
        <p>{{selectedTask.taskDetail}}</p>
      </div>
    </p-dialog>
    </main>
</div>

<router-outlet></router-outlet>
