@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

tbody {
  font-family: 'Tahoma', sans-serif;
}

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust this to create spacing */
  margin-top: 5px;
}
